@charset "utf-8";
/* CSS Document */

body,div,h1,h2,h3,h4,h5,h6,p,a,input,ul,li{margin:0;padding:0;}
li{list-style:none;}
a{text-decoration:none;}
img{border:0;}
input{border:0;}
body{font:"微软雅黑";font-size:12px;}
