@charset "utf-8";
/* CSS Document */
@media screen and (max-width:980px){
	.whole{width:96%;}
	article{width:61%;padding:3.5%}
	aside{width:24%;}
	
	
	
	}
@media screen and (max-width:640px){
	nav{position:relative;}
	.nav-a{display:none;}
	.nav-b{display:block;}
	nav form{position:absolute;top:-40px;right:0;}
	nav form input{width:61px;}
	nav form input:focus{width:130px;}
	article{float:none;width:auto;}
	aside{float:none;width:auto;padding-top:27px;}
	}
@media screen and (max-width:480px){
	aside{display:none;}
	
	
	}